http:// {
    # API routes
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:8000
    }
    
    # Static files
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
