services:
  api:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  mqtt-subscriber:
    build: ./backend
    command: python3 -u -m app.mqtt.client
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  # https://github.com/peter-evans/docker-compose-healthcheck
  db:
    image: postgres:17
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  pgdata:
    name: pgdata # avoid automatic naming
