.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.status-bar {
  padding: 10px;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

.map-wrapper {
  flex: 1;
  width: 100%;
}