// Rename to secrets.h

// https://www.reddit.com/r/esp32/comments/pna0d8/credentialssecrets_in_platformio/

#pragma once
const char *WIFI_SSID = "SSID";
const char *WIFI_PASS = "PASS";
const char *HOTSPOT_SSID = "SSID";
const char *HOTSPOT_PASS = "PASS";
const char *ROUTE = "route001";